html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    
}

img {

    /*max-width: 100%; */
    height: 62.5rem;
    width: 50rem;
}



.contenedor {

    max-width: 120rem;
    margin: 0 auto;
}

.seccion {

    margin-top: 2rem;
    margin-bottom: 2rem;
}


.site-header.inicio {

    background-color: rgb(130, 186, 238);
    background-position: center center;
    min-height: 7.5rem;

}

.barra {

    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    align-items: center;

}

h1 {

    color: black;
    text-decoration: none;
    font-size: 1.8rem;
}

.navegacion a {

    color: black;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.navegacion a:hover {

    color: white;
}

.navegacion a:last-of-type {
    margin: 0;
}

.contendor-central {
    display: flex;
    justify-content: space-between;
}

.contendor-central p{


    margin-left: 3rem;
    text-align: justify;
}

.contendor-central h2 {

    margin-left: 3rem;
}


.footer-datos {
    border: 0.5rem solid black;
}


.footer-final {
    display: flex;
    justify-content: space-between;
}

.imagen-github img{

    width: 15rem;
    height: 15rem;
}

.imagen-linkedin img {

    width: 15rem;
    height: 15rem;
}
