html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    background: url(../img/fondo.jpg) no-repeat center center fixed;
    background-size: cover;


    
    
}

img {

    /*max-width: 100%; */
    height: 80rem;
    width: 60rem;
}



.contenedor {

    max-width: 120rem;
    margin: 0 auto;
}

.seccion {

    margin-top: 2rem;
    margin-bottom: 2rem;
}


.site-header.inicio {

    background-color: #525252;
    background-position: center center;
    min-height: 7.5rem;

}

.barra {

    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    align-items: center;

}

h1 {

    color: white;
    text-decoration: none;
    font-size: 1.8rem;
}

.navegacion a {

    color:white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.navegacion a:hover {

    color: white;
}

.navegacion a:last-of-type {
    margin: 0;
}

.contendor-central {
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
}

/*.contendor-central p{


    margin-left: 3rem;
    text-align: justify;
    background-color: #525252;
    padding: 1rem;
    border-radius: 2rem;
    color: white;
    font-size: 3.5rem;
}*/

.central-presentacion h2 {
    font-weight: 800;
}

.central-presentacion {

    margin-left: 3rem;
    text-align: justify;
    background-color: #0097e6;
    padding: 2rem;
    border-radius: 2rem;
    color: white;
    font-size: 2.4rem;
    font-weight: 300;
    box-shadow: 10px 5px 5px black;

}

.central-presentacion h2 {
    margin: 0;
    margin-left: 0;
    font-size: 5rem;
}

.contendor-central h2 {

    margin-left: 3rem;
}

.site-footer {
    background-color: #525252;
    margin: 0;
}

.contenedor-footer {

    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    margin: 0;
    color: #ffffff;
    padding: 3rem 0;
    
}

.imagen-redes .github {

    width: 6rem;
    height: 6rem;
    padding: 3rem 0;
}

.imagen-redes .linkedin {

    width: 6rem;
    height: 6rem;
    padding: 3rem 0;
}

/* Pagina experiencia */

.experiencia{
    background-color: #0097e6;
    margin: 2rem;
    color: white;
    font-size: 2.4rem;
    font-weight: 100;
    box-shadow: 10px 5px 5px black;
}

.texto-centrado {

    font-weight: 400;
    text-align: center;
    font-size: 5rem;

}

.fechas-puesto {
   /* padding: 3rem 0; */
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: left;
}

.experiencia img {
    text-align: center;
    height: 10rem;
    width: 10rem;
    padding: 2rem;
}

.experiencia p {
    /*padding: 3rem;*/
    margin: 0;
}

ul {
    padding: 5rem;
}
